---
http_interactions:
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open Magic EightBall"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d2080292-288d-11e8-9703-29fd0da01da1
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:17:01 GMT
    body:
      encoding: UTF-8
      string: '{"id":"d8ce6bea-fee4-4ff0-934f-8684978f29cc","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:17:01 GMT
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"will I be rich"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d4b6f575-288d-11e8-9983-09a0303f2a19
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:17:05 GMT
    body:
      encoding: UTF-8
      string: '{"id":"b6b9d1eb-723c-4f81-8c46-7855d5255e48","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:17:06 GMT
recorded_with: VCR 4.0.0
