---
http_interactions:
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open magic eight ball"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9f6cc20e-288b-11e8-90ad-a918e3746c69
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:01:17 GMT
    body:
      encoding: UTF-8
      string: '{"id":"1b35d2a5-dfb2-477b-9164-ef778c29933c","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:01:17 GMT
- request:
    method: get
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/1b35d2a5-dfb2-477b-9164-ef778c29933c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9fb7d45a-288b-11e8-9983-09a0303f2a19
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:01:18 GMT
    body:
      encoding: UTF-8
      string: '{"id":"1b35d2a5-dfb2-477b-9164-ef778c29933c","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:01:18 GMT
- request:
    method: get
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/1b35d2a5-dfb2-477b-9164-ef778c29933c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a12dab6f-288b-11e8-975d-5dd1aad64c4e
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:01:20 GMT
    body:
      encoding: UTF-8
      string: '{"id":"1b35d2a5-dfb2-477b-9164-ef778c29933c","status":"SUCCESSFUL","result":{"skillExecutionInfo":{"invocationRequest":{"endpoint":"https://25337b5b.ngrok.io/magic","body":{"version":"1.0","session":{"new":true,"sessionId":"amzn1.echo-api.session.8db95527-a93f-451a-bc49-2e619cefd70d","application":{"applicationId":"amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c"},"user":{"userId":"amzn1.ask.account.AFSTNQRLPMGOQ5MACXMBJ2G6A4IWPMUZK4T7UFV7TMBBWCEXFWSX3QBSKY4A6PLCJF4BQAIDZF7OAZUYLHWE5KVDIBLEG4PBHMLTRQ7XQ2DLF6LESNFOSEIMI4SLEOHGOHV4RIPOFGPEOD4GAFO7UU2MG4ZHYLZDZJ36672DSVQ6JM7XYTGQ6NW4QTBIR7O75V7YX7D2Z3PDVDI","accessToken":"<ACCESS_TOKEN>"}},"context":{"Display":{},"System":{"application":{"applicationId":"amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c"},"user":{"userId":"amzn1.ask.account.AFSTNQRLPMGOQ5MACXMBJ2G6A4IWPMUZK4T7UFV7TMBBWCEXFWSX3QBSKY4A6PLCJF4BQAIDZF7OAZUYLHWE5KVDIBLEG4PBHMLTRQ7XQ2DLF6LESNFOSEIMI4SLEOHGOHV4RIPOFGPEOD4GAFO7UU2MG4ZHYLZDZJ36672DSVQ6JM7XYTGQ6NW4QTBIR7O75V7YX7D2Z3PDVDI","accessToken":"<ACCESS_TOKEN>"},"device":{"deviceId":"amzn1.ask.device.AGL4EWBVXFYLP4YTG2Y2FB5OSLSUBS726YJ4NDLVETMDYP4PRYUA5VGTHJODINLW67M66BLMK6YYCCV2SB5SE5Q3XPK3URQBKR6HTOQX4IMGJH7BBXKBOGCT4PFTQLFUL3U72L3W4WCYPJ4YYFQBSKO6I4NK4CDBGAHXLRG7PGV43PWRDT2XE","supportedInterfaces":{"AudioPlayer":{},"Display":{"templateVersion":"1.0","markupVersion":"1.0"}}},"apiEndpoint":"https://api.amazonalexa.com","apiAccessToken":"<API_ACCESS_TOKEN>"}},"request":{"type":"LaunchRequest","requestId":"amzn1.echo-api.request.fe6f79f3-5b40-4994-a04f-99f266e4e9b9","timestamp":"2018-03-15T20:01:18Z","locale":"en-US"}}},"invocationResponse":{"body":{"version":"1.0","response":{"outputSpeech":{"type":"PlainText","text":"I''m
        ready to tell your future. Ask me any yes no question."},"directives":[],"reprompt":{"outputSpeech":{"type":"PlainText"}},"shouldEndSession":false},"sessionAttributes":{}}},"metrics":{"skillExecutionTimeInMilliseconds":167}}}}'
  recorded_at: Thu, 15 Mar 2018 20:01:20 GMT
recorded_with: VCR 4.0.0
