---
http_interactions:
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open Magic EightBall"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 460d166d-288e-11e8-a6fb-8bc981b4f376
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:20:16 GMT
    body:
      encoding: UTF-8
      string: '{"id":"ef909087-72dd-464a-8f46-782060df4929","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:20:16 GMT
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"will I be rich"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 48bad1e6-288e-11e8-b01b-4599f42b99bf
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:20:20 GMT
    body:
      encoding: UTF-8
      string: '{"id":"9e651d85-301c-4f24-9ef4-efb3ccd98b50","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:20:20 GMT
recorded_with: VCR 4.0.0
