---
http_interactions:
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open Magic EightBall"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 4b641f47-288e-11e8-a6ff-f39a02ddc0e5
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:20:25 GMT
      X-Amzn-Errortype:
      - ConflictingRequestException:http://internal.amazon.com/coral/com.amazon.alexa.skillmanagement/
    body:
      encoding: UTF-8
      string: '{"message":"This simulation request conflicts with another one currently
        being processed."}'
  recorded_at: Thu, 15 Mar 2018 20:20:25 GMT
[...]
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open Magic EightBall"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 4ee61a4e-288e-11e8-a6fb-8bc981b4f376
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:20:30 GMT
    body:
      encoding: UTF-8
      string: '{"id":"e52a194d-c387-4358-a4c5-a8178d16b87a","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:20:31 GMT
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"will I be rich"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5197a5b7-288e-11e8-b254-5f48bd354017
      X-Amz-Date:
      - Thu, 15 Mar 2018 20:20:35 GMT
    body:
      encoding: UTF-8
      string: '{"id":"44fdb2ad-743f-41ec-b35f-cf099f723729","status":"IN_PROGRESS"}'
  recorded_at: Thu, 15 Mar 2018 20:20:35 GMT
recorded_with: VCR 4.0.0
