---
http_interactions:
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open Magic EightBall"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0653813f-2923-11e8-90ad-a918e3746c69
      X-Amz-Date:
      - Fri, 16 Mar 2018 14:05:04 GMT
      X-Amzn-Errortype:
      - NotAuthorizedException:http://internal.amazon.com/coral/com.amazon.alexa.skillmanagement/
      Www-Authenticate:
      - Bearer realm="Login with Amazon"
    body:
      encoding: UTF-8
      string: '{"message":"Token is invalid/expired."}'
  recorded_at: Fri, 16 Mar 2018 14:05:04 GMT
- request:
    method: post
    uri: https://api.amazon.com/auth/o2/token
    body:
      encoding: US-ASCII
      string: client_id=amzn1.application-oa2-client.146c9523da094e9394134d1c323a97b6&client_secret=f9e47d1be749955f7fbc7f7f1fb8ce6b8acce439e7043a7048ba801fafd21f96&grant_type=refresh_token&redirect_uri=http%3A%2F%2Flocalhost%3A4567%2Fcallback&refresh_token=Atzr%7CIwEBIDnP3VP1rshXMqoams9sjL-HNOGTgnrtZkJPEucknq-iLs34iBX292bln5Z3n2nOR8Vyh72zlo1ufovawTtcdd759RkZT2Q5QyOpEmuLK-gyyr-0c2o8XwbIE8AXJ_NhubBNRPVEKMYvm307o2_YlWwPaySZsGsKJpF8F2e00ge7uZ378L3fC6rVgUu7UbOxzctGFZWY0Jv8N7LRy2DjijXaQ1HEU0_cvUI0N0zkmcZjQ-f7DvZrkRvSx0HbX1poqXSvuseCNtGcfksbIF4aHG9U_SONaH-1P6IbbYQ8mzIln5cBb0uOQC4CW1ALDohPWcr1Dhaa74uSvmVGH18qCKIhx6n-AtnN3gu9w6cCPkjEBCgHGZUeEpT5ypIcC66rD_IIMROuvKy_s1HniyLfogxtwusirOY09zNgE56RkLPQPD_KolmZxewCHIkRU1ou08fD9XL1ZtEjBsmx7oS6vzECZHJRCzg3_o5jJrfyDFpTRkgg3PVT7h0ny-R-SRJuAM0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 068d081b-2923-11e8-bb4b-0fbe3f69bf50
      X-Amz-Date:
      - Fri, 16 Mar 2018 14:05:04 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"Atza|IwEBILuN2Y6DBJtkZZ4dNQ9cednCjik2S0LAHwwAdhVNOLH6h0W-c0ntzs4I1Fm32G20girku38GFVeTFHpY2LF3SH2Ut-B5r6Svs7fYGEvIUTOC8UNrJiI4gCijZM3M6ZZCw2UPj8Plr4MevWby8Uuex08mkU0idKo17DSyL83_7xS7QNcd2zndHcK1jA3uoFTfqTXMERVHjPQsrdGC5F79UeylTcfh6vgIB6xJeEPp_kZTd0-LKifzBoiBDGYR5IPVRdypzMmNLgnD36CUOEW-oQJCGTLfPNuHmnKbl0aCH8ByYSIbdiDnioL8yRCGBz13LOn2Pqok0g--YN3QEwUCHR7bHOYBtvZTqIyuETRnv6-EIX57m71UdfT2EcohSKBwvwykEVaFWeQ9UrBRjAHwoJp-vZuwfMpjRFBNztDvZ8bEaJcngq_Qg927zt_Zf6QUd6mTWXlLt2sAno-__2QNmpBNbru2pNL2rGHjN011oIFGnKnxCAxarcEBzr_hIyMhzirSVb4Zjikf-M-wHTVOXQTB","refresh_token":"Atzr|IwEBIDnP3VP1rshXMqoams9sjL-HNOGTgnrtZkJPEucknq-iLs34iBX292bln5Z3n2nOR8Vyh72zlo1ufovawTtcdd759RkZT2Q5QyOpEmuLK-gyyr-0c2o8XwbIE8AXJ_NhubBNRPVEKMYvm307o2_YlWwPaySZsGsKJpF8F2e00ge7uZ378L3fC6rVgUu7UbOxzctGFZWY0Jv8N7LRy2DjijXaQ1HEU0_cvUI0N0zkmcZjQ-f7DvZrkRvSx0HbX1poqXSvuseCNtGcfksbIF4aHG9U_SONaH-1P6IbbYQ8mzIln5cBb0uOQC4CW1ALDohPWcr1Dhaa74uSvmVGH18qCKIhx6n-AtnN3gu9w6cCPkjEBCgHGZUeEpT5ypIcC66rD_IIMROuvKy_s1HniyLfogxtwusirOY09zNgE56RkLPQPD_KolmZxewCHIkRU1ou08fD9XL1ZtEjBsmx7oS6vzECZHJRCzg3_o5jJrfyDFpTRkgg3PVT7h0ny-R-SRJuAM0","token_type":"bearer","expires_in":3600}'
  recorded_at: Fri, 16 Mar 2018 14:05:04 GMT
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"open Magic EightBall"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 080835ba-2923-11e8-b07b-b35033e10e6d
      X-Amz-Date:
      - Fri, 16 Mar 2018 14:05:07 GMT
      X-Amzn-Errortype:
      - ConflictingRequestException:http://internal.amazon.com/coral/com.amazon.alexa.skillmanagement/
    body:
      encoding: UTF-8
      string: '{"message":"This simulation request conflicts with another one currently
        being processed."}'
  recorded_at: Fri, 16 Mar 2018 14:05:07 GMT
[...]
- request:
    method: post
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/
    body:
      encoding: UTF-8
      string: '{"input":{"content":"will I be rich"},"device":{"locale":"en-US"}}'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 0e3c7f85-2923-11e8-a740-616e05160be7
      X-Amz-Date:
      - Fri, 16 Mar 2018 14:05:17 GMT
    body:
      encoding: UTF-8
      string: '{"id":"039c7250-2c3c-4ce4-a3a7-2a461ff628f6","status":"IN_PROGRESS"}'
  recorded_at: Fri, 16 Mar 2018 14:05:17 GMT
- request:
    method: get
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/039c7250-2c3c-4ce4-a3a7-2a461ff628f6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 10e6b77e-2923-11e8-a6fb-8bc981b4f376
      X-Amz-Date:
      - Fri, 16 Mar 2018 14:05:21 GMT
    body:
      encoding: UTF-8
      string: '{"id":"039c7250-2c3c-4ce4-a3a7-2a461ff628f6","status":"IN_PROGRESS"}'
  recorded_at: Fri, 16 Mar 2018 14:05:22 GMT
- request:
    method: get
    uri: https://api.amazonalexa.com/v1/skills/amzn1.echo-sdk-ams.app.dd0a8464-ce80-49f8-ad10-d506259dd99c/simulations/039c7250-2c3c-4ce4-a3a7-2a461ff628f6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Authorization:
      - "<ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 125ed94a-2923-11e8-90ad-a918e3746c69
      X-Amz-Date:
      - Fri, 16 Mar 2018 14:05:24 GMT
    body:
      encoding: UTF-8
      string: '{"id":"039c7250-2c3c-4ce4-a3a7-2a461ff628f6","status":"FAILED","result":{"error":{"message":"An
        unexpected error occurred."}}}'
  recorded_at: Fri, 16 Mar 2018 14:05:24 GMT
recorded_with: VCR 4.0.0
